
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #273036;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    color: #273036;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: solid #666;
    transition: top 0.3s;
  }

  .header img {
    max-width: 200px;
    height: auto;
    margin-top: 40px;
  }

  .header-right a {
    float: left;
    text-align: center;
    padding: 20px;
    color: #273036;
    text-decoration: none;
    font-size: 17px;
    margin-top: 40px;
    font-family: Akronim;
  }

  .header.scrolled {
    top: -40px;
  }

  .header a.active {
    color: orange;
    font-family: Sofia;
    text-decoration: underline;
    font-size: 20px;
}

.header a:hover {
    color: orange;
    font-family: Sofia;
    font-size: 20px;
}

  .header-right {
    float: right;
  }

  @media screen and (max-width: 750px) {

    .header-right {
      display: none;
    }

    #menu-toggle+.menu-icon {
      display: inline-block;
      font-size: 1.5rem;
      cursor: pointer;
    }

    #menu-toggle:checked~.header-right {
      display: block;
      position: absolute;
      top: 125px;
      left: 60%;
      width: 40%;
      background-color: white;
      border-top: 1px solid #666;
      z-index: 1010;
    }

    .header-right a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
      margin-left: 3%;
     
    }
  }

  @media screen and (min-width: 750px) {

    #menu-toggle,
    .menu-icon {
      display: none;
    }
  }

  .icon-bar {
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 900;
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 20px;
    color: white;
  }

  .icon-bar a:hover {
    background-color: #000;

  }

  .facebook {
    background: orange;
    color: white;
    border-radius: 10%;
  }

  .twitter {
    background: orange;
    color: white;
    border-radius: 10%;
  }

  .google {
    background: orange;
    color: white;
    border-radius: 10%;
  }

  .linkedin {
    background: orange;
    color: white;
    border-radius: 10%;
  }

  .youtube {
    background: orange;
    color: white;
    border-radius: 10%;
  }

  * {
    box-sizing: border-box;
  }

  .border-bottom {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #273036;
    margin-top: 15%;

  }

  @media screen and (max-width: 750px) {
    .border-bottom {
      margin-top: 40%;
      width: 100%;
      height: 700px;
      border-bottom: solid 100px #273036;
    }
  }

  .mySlides {
    display: none;
  }

  .text {
    color: black;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    top: 30%;
    font-family: Sofia;
    animation: bounce 3s ease-in-out infinite;
    font-weight: bolder;

  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-20px);
    }

    60% {
      transform: translateY(-10px);
    }
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-weight: bolder;
    font-family: Sofia;
  }

  .text p {
    font-size: 40px;
    color: white;
    font-family: Sofia;
  }

  @media screen and (max-width: 750px) {
    text {
      margin-top: 40%;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .border-bottom .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-size: 300px 100px;
    top: 65%;

  }

  @media screen and (max-width: 750px) {
    .border-bottom .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 600px;
      background-size: 300px 100px;
      top: 85%;
    }
  }

  .border-bottom .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 800;
    opacity: 1;
    animation-delay: 0s;
    bottom: 8px;
  }

  .contents {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .contents img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
 
  .contents h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
    font-family: Sofia;
  }

  .contents p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: Beau Rivage;
  }

  .contents p:last-child {
    margin-bottom: 0;
  }

  .contents a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
  }

  .contents a:hover {
    color: #1e87d6;
  }

  .contents .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .contents .btn:hover {
    background-color: #1e87d6;
  }

  .blog-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .destination-list li:hover {
    color: orange;
  }

  .blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .blog-post h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
    font-family: Sofia;
  }

  .blog-post h3 {
    font-size: 20px;
    color: orange;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align:  center;
    font-family: Sofia;

  }
  .blog-post p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    font-family: Sofia;
  }

  .blog-post ol {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: Beau Rivage;
  }

  .blog-post ol li {
    margin-bottom: 10px;
  }

  .blog-post a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
  }

  .blog-post a:hover {
    color: #1e87d6;
  }

  /* Reset default margin and padding */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  div.gallery:hover {
    opacity: 0.6;
    border-bottom: solid orange 1px;

  }

  div.gallery img {
    width: 80%;
    height: 300px;
    margin-left: 10%;
  }

  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: Beau Rivage;
  }

  div.desc:hover {
    color: orange;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
      height: 50%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .animated-title:before {
    position: absolute;
    content: '';
    top: 50%;
    width: 25%;
    height: 2px;
    left: 0;
    background: orange;

  }

  .animated-title:after {
    position: absolute;
    content: '';
    top: 50%;
    width: 25%;
    height: 2px;
    right: 0;
    background: orange;
  }

  .animated-title {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    animation: bounce 1.5s ease-in-out infinite;
    margin-bottom: 2%;
    font-family: Sofia;
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-20px);
    }

    60% {
      transform: translateY(-10px);
    }
  }

  .float-content {
    position: relative;
    margin-bottom: 15%;
    animation-name: fade;
    animation-duration: 4s;
  }
  
  @keyframes fade {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  .float-right {
    float: right;
    margin-left: 15px;
    width: 350px;
    height: 400px;
    margin-right: 10%;
    border: solid 10px white;
    border-bottom: solid 50px;
  }
  .float-right:hover {
    opacity: 0.6;
    border: solid 1px orange;
  }

  .float-content h2 {
    clear: right;
    color: white;
    font-family: Sofia;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid orange;
    margin-bottom: 2%;
    margin-left: 10%;
  }

  .float-content p {
    clear: right;
    color: white;
    font-family: Beau Rivage;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 15%;
  }

  .btn-warning {
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 5%;
    margin-left: 30%;
    font-size: 20px;
    border-color: white;
    background-color: transparent;
    font-family: Sofia;
    border-radius: 50px;
  }

  .btn-warning:hover {
    border-color: #ff9800;
    color: orange;
  }

  .myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 50px;
    z-index: 1000;
  }

  .myBtn:hover {
    background-color: #555;
  }

  .footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: solid gray;

  }

  .footer img {
    max-width: 200px;
    height: auto;
    text-align: center;
  }
  .footer-logo {
    font-size: 30px;
    font-weight: bold;
  }

  .footer-links a {

    color: orange;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    margin-bottom: 30px;
  }

  .social-icon {
    font-size: 30px;
    color: orange;
    margin-right: 10px;
    text-decoration: none;
  }

  .footer-text {
    font-size: 14px;
    color: orange;
  }
  .footer a:hover{
    color: white;
  }

  

