/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #273036;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: #273036;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: solid #666;
  transition: top 0.3s;
}

.header img {
  max-width: 200px;
  height: auto;
  margin-top: 40px;
}

.header-right a {
  float: left;
  text-align: center;
  padding: 20px;
  color: #273036;
  text-decoration: none;
  font-size: 17px;
  margin-top: 40px;
  font-family: Akronim;
}

.header.scrolled {
  top: -40px;
}

.header a.active {
  color: orange;
  font-family: Sofia;
  text-decoration: underline;
  font-size: 20px;
}

.header a:hover {
  color: orange;
  font-family: Sofia;
  font-size: 20px;
}

.header-right {
  float: right;
}

@media screen and (max-width: 750px) {

  .header-right {
    display: none;
  }

  #menu-toggle+.menu-icon {
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #menu-toggle:checked~.header-right {
    display: block;
    position: absolute;
    top: 125px;
    left: 60%;
    width: 40%;
    background-color: white;
    border-top: 1px solid #666;
    z-index: 1010;
  }

  .header-right a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    margin-left: 3%;
  }
}

@media screen and (min-width: 750px) {

  #menu-toggle,
  .menu-icon {
    display: none;
  }
}

.icon-bar {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 900;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
  color: white;
}

.icon-bar a:hover {
  background-color: #000;

}

.facebook {
  background: orange;
  color: white;
  border-radius: 10%;
}

.twitter {
  background: orange;
  color: white;
  border-radius: 10%;
}

.google {
  background: orange;
  color: white;
  border-radius: 10%;
}

.linkedin {
  background: orange;
  color: white;
  border-radius: 10%;
}

.youtube {
  background: orange;
  color: white;
  border-radius: 10%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 15%;
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;

}

@media screen and (max-width: 750px) {
  h1 {
    margin-top: 35%;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20%;
  margin-bottom: 5%;
}

.card1 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 5%;
}

.card2 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 10%;
}

.product {
  flex: 0 0 calc(33.33% - 20px);
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
  box-sizing: border-box;
}

.price {
  color: white;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card p {
  position: bottom;
}

.card .card1 .card2,
button:hover {
  opacity: 0.6;

}

@media screen and (max-width: 750px) {
  .card {
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
    width: 100%;
  }

  .card1 {
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
    width: 100%;
  }

  .card2 {
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
    width: 100%;
  }

  .product {
    flex: 0 0 calc(100% - 20px);
    margin: 10px 0;
  }
}

.footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top: solid gray;

}

.footer img {
  max-width: 200px;
  height: auto;
  text-align: center;
}

.footer-logo {
  font-size: 30px;
  font-weight: bold;
}

.footer-links a {

  color: orange;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-bottom: 30px;
}

.social-icon {
  font-size: 30px;
  color: orange;
  margin-right: 10px;
  text-decoration: none;
}

.footer-text {
  font-size: 14px;
  color: orange;
}

.footer a:hover {
  color: white;
}